body {
  margin: 0;
  font-family: 'Segoe UI', sans-serif;
  display: flex;
  background: #0b1220;
  color: #fff;
}

.sidebar {
  width: 250px;
  background: #020617;
  padding: 30px 20px;
  height: 100vh;
  position: fixed;
}

.sidebar h2 {
  color: #60a5fa;
}

.menu a {
  display: block;
  color: #94a3b8;
  margin: 20px 0;
  text-decoration: none;
  transition: 0.3s;
}

.menu a:hover {
  color: white;
}

.main {
  margin-left: 260px;
  padding: 40px;
}

.profile {
  text-align: center;
}

.profile img {
  width: 120px;
  border-radius: 50%;
}

.section {
  margin-bottom: 60px;
}

.card {
  background: #1e293b;
  padding: 20px;
  border-radius: 10px;
  margin: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
}
